<div class="content">

    <div class="title">
        <h1>Login</h1>
    </div>

    <form>
        <mat-form-field class="form">
            <mat-label>Usuário</mat-label>
            <input matInput [(ngModel)]="login.usuario" type="text" name="usuario">
        </mat-form-field>

        <mat-form-field class="form">
            <mat-label>Senha</mat-label>
            <input matInput [(ngModel)]="login.senha" type="text" name="senha">
        </mat-form-field>
        
        <div class="buttons">
            <button (click)="entrar()" class="mat-elevation-z8" mat-raised-button color="primary">Entrar</button>
        </div>
    </form>

</div>

